/* Reset styles for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.logo h1 {
    margin: 0;
    font-size: 2em;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
}

.nav-links a:hover {
    text-decoration: underline;
}

.opportunity-header {
    background-color: #fff;
    padding: 50px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.section-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.opportunity-header h2 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.opportunity-header p {
    color: #555;
    text-align: center;
    line-height: 1.8;
    font-size: 1.2em;
}

.opportunity-list {
    background-color: #fff;
    padding: 30px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.opportunity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.opportunity-item:last-child {
    border-bottom: none;
}

.opportunity-details {
    max-width: 70%;
}

.opportunity-details h3 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.opportunity-details p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

.opportunity-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.opportunity-button:hover {
    background-color: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

.page-link:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
